{{!< default}}

<div class='c-archive'>
  <h1 class='c-archive__title'>Free Lessons</h1>
</div>

{{#if @labs.members}}
<div class='o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m c-tag-card-wrap'>
  {{#get 'posts' filter="visibility:public"}}
    {{#foreach posts}}
      {{> post-card-custom }}
    {{/foreach}}
  {{/get}}
</div>
{{/if}}