{{!< default}}

{{#post}}

<div class='c-archive'>
  <h1 class='c-archive__title'>{{ title }}</h1>
</div>

<div class='o-grid'>
  {{#get 'posts' limit='all'}}
    {{#foreach posts filter="visibility:paid"}}
      {{> post-card }}
    {{/foreach}}
  {{/get}}
</div>

{{/post}}