{{!< default}}

<div class='c-archive'>
  <h1 class='c-archive__title'>{{ title }}</h1>
</div>

<div class='o-grid'>
  {{#get 'posts' filter="visibility:paid"}}
    {{#foreach posts}}
      {{> post-card }}
    {{/foreach}}
  {{/get}}
</div>