{{!< default}}

{{#tag}}
  <div class='c-archive'>
    <h1 class='c-archive__title'>{{ name }}</h1>
    {{#if description}}
      <p class='c-archive__description'>{{ description }}</p>
    {{/if}}
  </div>
{{/tag}}

<div class='js-grid'>
  {{#foreach posts visibility='all' order="published_at asc"}}
    {{> post-card }}
  {{/foreach}}
</div>

{{ pagination }}